#addForm {
  box-shadow: 13px 10px 10px 1px rgba(214, 214, 214, 1);
  margin: 20px;
  background-color: #fffafa;
  padding: 10px;
}
#dataContainer {
  margin: 20px;
  box-shadow: 13px 10px 10px 1px rgba(214, 214, 214, 1);
  background-color: #fffafa;
  padding: 10px; 
}
#deleteBtn {
  float: right;
}
#clothItem {
  list-style-type: none;
}
